<div class="row">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Color Palette App</h1>
        <p class="lead text-muted">Application that generates random colors, a screenshot is taken before generating the colors and after generating the colors, and then comparing them.</p>
        <form action="/generate-data" method="post">
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Generate report</button>
          </div>
        </form>
      </div>
    </div>
  </div>